<header class="header">
    <a th:href="@{/}">
        <img class="logo" alt="SmartFoodBox logo" th:src="@{/img/SmartFoodBox-logo.png}" />
    </a>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" th:href="@{/how-it-works}">How it works</a></li>
            <li><a class="main-nav-link" th:href="@{/meals}">Meals</a></li>
            <li><a class="main-nav-link" th:href="@{/testimonials}">Testimonials</a></li>
            <li><a class="main-nav-link" th:href="@{/pricing}">Pricing</a></li>
            <li><a class="main-nav-link nav-cta" th:href="@{/}"><Login></Login></a></li>
            <li><a class="main-nav-link nav-cta" th:href="@{/}">Register</a></li>
        </ul>
    </nav>
    <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
    </button>
</header>
