<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity5">
<header class="header">
    <a th:href="@{/}">
        <img class="logo" alt="SmartFoodBox logo" th:src="@{/images/SmartFoodBox-logo.png}"/>
    </a>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" th:href="@{/how-it-works}" th:text="#{nav_bar.how-it-works}">How it works</a>
            </li>
            <li><a class="main-nav-link" th:href="@{/meals}" th:text="#{nav_bar.meals}">Meals</a></li>
            <li><a class="main-nav-link" th:href="@{/testimonials}" th:text="#{nav_bar.testimonials}">Testimonials</a>
            </li>
            <li><a class="main-nav-link" th:href="@{/pricing}" th:text="#{nav_bar.pricing}">Pricing</a></li>

            <!-- Display Login/Register for unauthenticated users -->
            <li sec:authorize="!isAuthenticated()">
                <a class="main-nav-link nav-cta" th:href="@{/users/login}" th:text="#{nav_bar.login}">Login</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a class="main-nav-link nav-cta" th:href="@{/users/register}" th:text="#{nav_bar.register}">Register</a>
            </li>

            <!-- Display User Dropdown for authenticated users -->
            <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                <a class="main-nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <span sec:authentication="principal.firstName"></span> <!-- Displays the username -->
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" th:href="@{/users/profile}" th:text="#{nav_bar.dropdown.profile}">Profile</a></li>
                    <li><a class="dropdown-item" th:href="@{/users/orders}" th:text="#{nav_bar.dropdown.orders}">Orders</a></li>
                    <li>
                        <form th:action="@{/users/logout}"  method="post">
                            <button type="submit" class="dropdown-item" th:text="#{nav_bar.dropdown.logout}">Logout</button>
                        </form>
                    </li>
                </ul>
            </li>

            <!-- Language Selector -->
            <li class="nav-item language-selector">
                <form th:method="get">
                    <label for="lang" th:text="#{nav_bar_language}"></label>
                    <select id="lang" name="lang" onchange="this.form.submit()">
                        <option value="en" th:selected="${#locale.language} == 'en'">English</option>
                        <option value="bg" th:selected="${#locale.language} == 'bg'">Български</option>
                    </select>
                </form>
            </li>
        </ul>
    </nav>
    <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
    </button>
</header>
</html>
